</main>
<footer>
    <section id="footer__navigition">

        <article class="footer__logo">
            <img id="logo__nav" src="./assets/CTC_Primary_Logo_White.png" alt="logo">

        </article>

        <ul class="footer__nav">
            <il><a href="" class="footer__link">Services</a></il>
            <il><a href="" class="footer__link">Over ons</a></il>
            <il><a href="" class="footer__link">Contact</a></il>
        </ul>

        <article class="footer__pramarylogos">

           <img src="https://static.wixstatic.com/media/21dd0d_93ea25df766a4b708c7095e76057a346~mv2.png/v1/fill/w_118,h_25,al_c,q_95/Logo%20White%20RGB.webp" alt="logo">
           <img src="https://static.wixstatic.com/media/21dd0d_1cf6e7b130544d54ae553ea81a58257d~mv2.png/v1/fill/w_113,h_50,al_c,q_95/Logo%20FMN%20white.webp" alt="logo">

         </article>

         <button class="footer__btn">
             <a href="https://www.codingthecurbs.com/contact?lang=nl" class="footer__contactpagnia"  target="blank">Sluit je aan</a>
         </button>

    </section>

    <section class="footer__privacy">
        
        <p>All rights reserved © 2021&nbsp;
            <a href="http://www.fronteer.com" target="_blank">fronteer</a>
            <a href="https://www.codingthecurbs.com/copy-of-roll-out-plan?lang=nl" target="_self">
                Privacy statement
            </a>
        </p>
        
       
    </section>
   

</footer>

</body>
</html>