<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./styles/style.css"> -->
    <link rel="stylesheet" href="/style.css">
    <script src="main.js"></script>
    <script defer src="../scripts/mobilemenu.js"></script>
    <!-- <script defer src="./scripts/loadingstate.js"></script>
    <script defer src="./scripts/emptystats.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./assets/CTC_Secondary_Logo_Purple.png">
    <title>coding the curbs</title>
</head>
<body>
    <!-- <div class="EmptyStates">
        <img src="./assets/empty.svg" alt="empty state">
    </div>
    <div class="spinner-wrapper"><section class="loding_spinner"></section></div> -->
    <header>

        <img id="logo__nav" src="assets/CTC_Primary_Logo_White.png" alt="logo">
        
        <a href="#" class="toggle__button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

        <nav>

            <ul class="nav__baar">
                <il><a class="link__nav" href="">Services</a></il>
                <il><a class="link__nav" href="">Updates</a></il>
                <il><a class="link__nav" href="">Over Ons</a></il>
                <il><a class="link__nav" href="https://www.codingthecurbs.com/contact?lang=nl">Contact</a></il>
            </ul>

        </nav>

    </header>
   <main>
      

