<%- include('../includes/head') %>

        
<h2 class="delet__smartzone">Hier kun je smartzones verwijderen bij ID</h2>
    <!-- form section -->
   <section id="form__container">
   
       <h1>Delete Smartzone</h1>

       <form   class="form__post form__delete" action="/delete"  method="post">

           <div>

               <label for="smartzoneid">smartzoneID</label>
               <input type="number" name="smartzoneId"  id="smartzoneid-y">

            </div>

           <div>

              <label for="name">Naam</label>
              <input type="text" name="name" id="name-y">

           </div>
<!-- 
           <div>
               <label for="stad">Stad</label>
               <input type="text" name="town" id="stad-y">
           </div>

           <div>
               <label for="locatie">Locatie</label>
               <input type="text" name="location" id="locatie-y">
           </div>

           <div>

               <label for="functie">Functie</label>
               <input type="text" name="function" id="functie-y">
            </div> 

           <div>
               <label for="tijdstip">TijdStip</label>
               <input type="text" name="time" id="tijdstip-y">
           </div>

           <div>

               <label for="grootte">Grootte-plek</label>
               <input type="text" name="size" id="grootte-y">

           </div>

           <div>

               <label for="gebruik">Gebruik(%)</label>
               <input type="text" name="utilization"  id="gebruik-y">
           </div>

           <div>

               <label for="omschrijving">Omschrijving</label>
               <input type="text" name="description" id="omschrijving-y">

           </div>

           <div>

               <label for="foto">Foto</label>
               <input type="text" name="image" id="foto-y">

           </div> -->

           <section class="form__button">
              <button class="btn--cancel"><a href="/">Backe</a></button>
              <button class="btn--add" type="submit" value="submit">Delete</button>
           </section>
       
        </form>

   </section>

</section>



<%- include('../includes/footer') %> 